# =========================
# Build and Release Folders
# =========================
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# =========================
# Dependencies (Node)
# =========================
node_modules/

# =========================
# Nuxt / Vue / Frontend Build
# =========================
.nuxt/
.output/
dist/
.cache/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE files
# =========================
.idea/
.vscode/

# =========================
# Package manager cache
# =========================
.pnpm-store/

# =========================
# Other files and folders
# =========================
.settings/

# =========================
# Executables
# =========================
*.swf
*.air
*.ipa
*.apk

# =========================
# Project files (Eclipse / Flash Builder)
# 不排除这些文件（保留）
# .project
# .actionScriptProperties
# .flexProperties